html { 
	font-family: Candara;
}

body {
	margin: 0;
}


#greeting {
	font-family :Candara;
	font-style: serif;
  font-size: 1.7rem;
	text-align: center;
	padding: 1rem;
	margin-top: 0;
	background-color: #e8e8e8;
	box-shadow: 0 5px 8px 0 black, 0 9px 26px 0 black;
}

input {
	display: block;
	width: 10rem;
	height: 1.6rem;
    font: 0.6rem sans-serif;
	border-radius: 0.2rem;
	border-color: #404040;
	box-sizing: border-box;
	margin-bottom: 0.5rem;
}

label {
	text-align: right;
	font-size: 0.6rem;
}

#loginsection {
	display: inline-block;
	position: relative;
	left : 7rem;
	border-color: #F7F7F7;
	padding: 4rem;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

#createaccsection {
	display: inline-block;
  position: relative;
	right: 7rem;
	float: right;
	padding: 5rem;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

#footer {
	display:block;
	position: relative;
	bottom: 0;
	left: 0;
	right : 0;
	background-color: #e8e8e8;
	width: 100%;
	margin-left: 0;
	color:black;
	padding-top: 1rem;
	padding-bottom: 1rem;
	overflow : hidden;
	margin-left: 0;
	text-align: center;
	box-shadow: 0 5px 8px 0 black, 0 9px 26px 0 black;
}


#button {
	margin-top: 1rem;
	padding-top: 0.7rem;
	padding-bottom: 1.5rem;
	border-radius: 0.4rem;
	background-color: black;
	color:white;
}

#inputform {
	display: block;
	margin: auto;
	width: 90%;
	margin-bottom: 30rem;
}

